*{
	border-radius: 0 !important;
}

div.navbar-header button.navbar-toggle:focus{
  background: #061539;
  border: none;
  outline: none;
}

div.navbar-header button.navbar-toggle{
  border: none;
  outline: none;
}

.navbar{
  background: #061539;
}

div.navbar-header a.navbar-brand, div.collapse ul.nav li a{
  color: #ffffff;
  font-family: 'Nunito', sans-serif;
}

div.collapse ul.nav a.current{
  color: #7887ab;
  font-family: 'Nunito', sans-serif;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

div.navbar-header a.navbar-brand:hover, div.collapse ul.nav a:hover { 
  color: #7887ab;
}
