*{
  font-family: 'Nunito', sans-serif;
}

body{
	background: #061539;
}

div.navbar-header button.navbar-toggle:focus{
  background: #061539;
  border: none;
  outline: none;
}

div.navbar-header button.navbar-toggle{
  border: none;
  outline: none;
}

.navbar{
  background: #061539;
  border-radius: 0;
  margin: 0px;
}

div.navbar-header a.navbar-brand, div.collapse ul.nav li a{
  color: #ffffff;
}

div.collapse ul.nav a{
  color: #7887ab;
}

div.navbar-header a.navbar-brand:hover, div.collapse ul.nav a:hover { 
  color: #7887ab;
}

.label-danger, .btn-danger{
  background: #EE5A28;
}

.section{
	text-align: center;
	padding-bottom: 16px;
}

.skill{
	background : #7ec0ee;
	border-radius : 0px;
	height: 100%;
	width : 4%;
	display: inline-block;
	border: 2px solid #000000;
}

.bar{
	text-align: left;
}

.row > .contact, .contact > *{
	font-family: 'Lora', serif;
	word-wrap: break-word;
}

.btn{
	background: #EE5A28;
	color: #ffffff;
	border: 1px solid #000000;
}

.footer{
	color: #ffffff;
	text-align: left;
	padding-top: 8px;
	padding-bottom: 8px;
}

.up, .up:focus, .up:active{
	background: #7887ab;
	text-align: center;
	border-radius: 100%;
	color: #ffffff;
	margin-top: 6px;
}

.term{
	border-radius: 6px;
	border: 2px solid #000000;
	background: #EE5A28;
	padding: 12px;
	margin-top: 12px;
}

.term > .row > h3{
	padding: 0px;
	margin: 0px;
}

.term-text{
	color: white;
	padding: 0;
}

.course-text{
	cursor: pointer;
	color: #ffffff;
	text-align: left;
	display: inline-block;
	padding-top: 6px;
}

.learned{
	background: #EE5A28;
	color: #ffffff;
	border: none;
	padding: 0px;
	padding-left: 10%;
}

.text > *, .text{
	font-family: 'Lora', serif;
	font-size: 20px;
	padding-bottom: 8px;
	text-align: left;
}

.text > a{
	font-size: 20px;
	font-family: 'Lora', serif !important;
	text-decoration: none;
}

.stack{
	border: 1px solid black;
	border-radius: 4px;
	display: inline-block;
	background: #7ec0ee;
	color: #ffffff;
	margin-right: 6px;
	margin-bottom: 6px;
	padding: 4px;
}

svg{
	margin-top: 16px;
}

h1{
	font-size: 48px;
}

h4{
	text-align: left;
}

@media only screen and (max-width: 480px) {
	h4{
		font-size: 12px;
	}
}
