*{
  font-family: Nunito, sans-serif;
}

div.navbar-header button.navbar-toggle:focus{
  background: #061539;
  border: none;
  outline: none;
}

div.navbar-header button.navbar-toggle{
  border: none;
  outline: none;
}

.navbar{
  background: #061539;
  border-radius: 0;
}

div.navbar-header a.navbar-brand, div.collapse ul.nav li a{
  color: #ffffff;
}

div.collapse ul.nav a{
  color: #7887ab;
}

div.navbar-header a.navbar-brand:hover, div.collapse ul.nav a:hover { 
  color: #7887ab;
}

.label-danger, .btn-danger{
  background: #ff0000;
}

.section{
	text-align: center;
	padding-bottom: 16px;
}

.skill{
	background : #7ec0ee;
	border-radius : 0px;
	height: 100%;
	width : 4%;
	display: inline-block;
}

.bar{
	text-align: left;
}

h4{
	text-align: left;
}

@media only screen and (max-width: 480px) {
	h4{
		font-size: 12px;
	}
}
